.autorization {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #e3d4cc url('../../img/autorization-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
}