.course-item {
    border: 2px solid #ededed;
}

.course-item__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 435px;
    box-sizing: border-box;
    padding: 34px 40px;
    @media (max-width: @breakpoint-large) {
        padding: 34px 20px;
    }
}

.course-item__main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-item__pic {
    display: block;
    width: 72px;
    height: 72px;
    margin-bottom: 25px;
}

.course-item__title {
    margin-bottom: 22px;
    text-align: center;
    color: #444444;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.04;
    letter-spacing: 0.24px;
    @media (max-width: @breakpoint-large) {
        font-size: 20px;
    }
    @media (max-width: @breakpoint-medium) {
        font-size: 22px;
    }
}

.course-item__addition {
    margin-bottom: 15px;
    padding: 10px 16px;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
    color: #444444;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.course-item__link {
    width: 230px;
    box-sizing: border-box;
    display: inline-block;
    padding: 19px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    &_continue {
        background-color: #46b172;
        color: #fff;
        transition: background-color 0.25s;
        &:hover {
            background-color: #4fc881;
            text-decoration: none;
            color: #fff;
            transition: background-color 0.25s;
        }
    }
    &_start {
        background-color: #fdd95e;
        transition: background-color 0.25s;
        color: #27272f;
        &:hover {
            background-color: #ffe763;
            text-decoration: none;
            color: #0e0e11;
            transition: background-color 0.25s;
        }
    }
    &_ended {
        background-color: #cacaca;
        color: #fff;
        cursor: default;
    }
}

.course-item__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px 16px;
    background-color: #f3f3f5;
}

.course-item__status {
    display: flex;
    align-items: center;
}

.course-item__info-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: #bbbbbd;
}

.course-item__info-text {
    color: #444444;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.course-item__date {
    margin-right: 11px;
    color: #202020;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.14px;
    white-space: nowrap;
}