.courses {
    padding-top: 50px;
    padding-bottom: 15%;
}

.courses__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
}

.courses__settings {
    width: 26px;
    height: 26px;
    fill: #cacaca;
}

.courses__avatar {
    width: 128px;
    height: 128px;
    margin: 0 128px;
}

.courses__notifications {
    width: 26px;
    height: 26px;
    fill: #cacaca;
}

.courses__greetings {
    margin-bottom: 83px;
    text-align: center;
    color: #27272f;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

.courses__choice {
    margin-bottom: 25px;
    text-align: center;
    color: #333333;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.6px;
}
