.lessons {
    padding: 30px 70px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
    border: 1px solid #e5eaef;
    background-color: #ffffff;
}

.lessons__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.lessons__title {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.18px;
}

.lessons__title-icon {
    width: 18px;
    height: 24px;
    margin-right: 12px;
}

.lessons__legend {
    display: flex;
    align-items: center;
}

.lessons__legend-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: #9b9b9b;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.11px;
}

.lessons__legend-indicator {
    margin-right: 5px;
}

.lessons__list {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
    li {
        margin-bottom: 12px;
    }
}

.lessons__item {
    display: flex;
    align-items: center;
    &:hover {
        text-decoration: none;
    }
}

.lessons__item-indicator {
    margin-right: 10px;
}

.lessons__item-title {
    color: #6b6b6b;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.12px;
}
