.main-aside {
    padding-top: 26px;
    padding-left: 58px;
    padding-right: 58px;
    background-color: #374353;
}

.main-aside__structure-heading {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.main-aside__section-pic {
    width: 24px;
    height: 24px;
    margin-right: 18px;
}

.main-aside__section-title {
    color: #c4cede;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.49px;
}

.main-aside__structure-list {
    margin: 0;
    padding: 0;
    list-style: none;
    a {
        &:hover {
            text-decoration: none;
            color: currentColor;
        }
    }
}

.main-aside__structure-icon {
    width: 14px;
    height: 12px;
    margin-right: 21px;
    stroke: #d8dfeb;
    fill :transparent;
}

.main-aside__structure-title {
    color: #ebf3ff;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.16;
    letter-spacing: 0.3px;
}
