.participants__breadcrumb {
    margin-bottom: 25px;
}

.participants__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
}

.participants__page-title {
    margin-bottom: 0;
}
