.practice__breadcrumb {
    margin-bottom: 20px;
}

.practice__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    @media (max-width: @breakpoint-medium) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.practice__page-title {
    margin-bottom: 0;
    @media (max-width: @breakpoint-medium) {
        margin-bottom: 20px;
    }
}

.practice__exercises {
    margin-bottom: 40px;
}

.practice__status {
    padding: 4px 9px 4px 10px;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
    color: #444444;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.27;
    text-transform: uppercase;
    letter-spacing: 0.28px;
}

.practice__status_indicator {
    margin-right: 2px;
}

.practice__materials {
    margin-bottom: 105px;
    @media (max-width: @breakpoint-small) {
        margin-bottom: 40px;
    }
}