.profile__contacts {
    padding-top: 26px;
    margin-bottom: 58px;
}

.profile__contacts-row {
    margin-bottom: 20px;
}

.profile__contacts-icon {
    width: 14px;
    height: 18px;
    margin-right: 11px;
}

.profile__contacts-info {
    margin-right: 13px;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.35px;
}

.profile__visibility-warning {
    color: #cacaca;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.3px;
}

.profile__company {
    padding: 28px 0;
    background-color: #fbfbfd;
}

.profile__company-row {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.profile__company-icon {
    width: 52px;
    height: 52px;
    margin-right: 36px;
    @media (max-width: @breakpoint-medium) {
        margin-right: 15px;
    }
}

.profile__company-field {
    color: #cacaca;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.12px;
}

.profile__company-text {
    color: #444444;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.16px;
}
