.subsection__page-title {
    margin-bottom: 48px;
}

.subsection__content {
    margin-bottom: 45px;
}

.subsection__link-btn {
    margin-bottom: 54px;
}

.subsection__lessons {
    margin-bottom: 34px;
}