.training-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 27px 0;
    border-top: 1px solid #e5eaef;
}

.training-nav__leftside {
    display: flex;
    align-items: center;
    * {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.training-nav__rightside {
    display: flex;
    align-items: center;
    * {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}