@global-font-family: 'Roboto', sans-serif;

.uk-input::placeholder {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
}

.hook-form() {
    background-color:#27272f;
    border: 0;
    border-bottom: 1px solid #4e4e57;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.hook-form-focus() {
    background-color:#27272f;
    border: 0;
    border-bottom: 1px solid #7d7d8c;
    color: #ffffff;
}

.hook-form-danger() {
    color: #fe5d65;
    border: 0;
    border-bottom-color: #fe5d65;
    outline: 0;
}