@global-font-family: 'Roboto', sans-serif;
@form-danger-border: 0;

.uk-input::placeholder {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
}

.hook-form() {
    background-color:#27272f;
    border: 0;
    border-bottom: 1px solid #4e4e57;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    &:required:invalid {
        box-shadow: none;
        color: #fe5d65;
        border-bottom-color: #fe5d65;
    }
}

.hook-form-focus() {
    background-color:#27272f;
    border: 0;
    border-bottom: 1px solid #7d7d8c;
    color: #ffffff;
    &:required:invalid {
        box-shadow: none;
        color: #fe5d65;
        border-bottom-color: #fe5d65;
    }
}
